<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{- partial "head.html" . -}}

    <body>

        <noscript>
            <div id="noscript-warning">
                <a href="">Some features</a> of this site will not function until you enable JavaScript in your browser.
            </div>
        </noscript>

        <div id="container">

            {{- partial "header.html" . -}}

            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>


        </div><!-- end #container -->
        {{- partial "footer.html" . -}}

        {{ partial "foot/script.html" . }}

    </body>
</html>
