{{ define "main" }}

{{ if .Site.Params.enableTestingMode }}
    <p>Hello from layouts/_default/single.html</p>
{{ end }}

<div style="margin-left:3rem;">

<h1>{{ .Title }}</h1>

{{ .Content }}

</div>
{{ end }}
