{{ define "main" }}

{{ if .Site.Params.enableTestingMode }}
    <p>Hello from layouts/_default/terms.html</p>
{{ end }}

<div style="margin-left: 6rem;">
    <h1>{{ .Title }}</h1>
    {{ range .Pages.ByPublishDate.Reverse }}
    <p>
        <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    </p>

    <!-- <hr> -->
    {{ end }}
</div>

{{ end }}
