<p class="print-only">This page is not suitable for printing.</p>
<div class="suppress-during-print">

<h1>{{ .Title }} Archive</h1>

<noscript>The table below is sortable when JavaScript is enabled.</noscript>

<!--temp for testing, move to external file later -->
<!--
<style>
    table { border: 1px solid; border-collapse: collapse; width: 100%; }
    th, td { border: 1px solid; padding: 0.5rem; }
</style>
-->

<!-- <table> -->
<table class="dynamic-post-archive row-border">
    <thead>
        <tr>
            <th>Pin</th><!-- pinned order / weight -->
            <th>Published</th>
            <th>Updated</th>
            <th>Title</th>
            <th>Description</th><!-- <th>Summary</th> -->
            <th>Categories</th>
            <th>Tags</th>
            <th>Series</th>
        </tr>
    </thead>
    <tbody>

        {{/*
            {{ range .Pages.ByPublishDate.Reverse }}

            https://gohugo.io/templates/lists/#order-content
        */}}

        {{ range .Pages.ByWeight }}


        <tr>
            {{/* post archetypes write 9999 as default weight for new posts,
                but we want to hide that on post list pages */}}
            <td>
                {{- if eq .Weight 99999 -}}
                    <span class="transparent-sortable-text">
                        {{ .Weight }}
                    </span>
                {{ else }}
                    {{ .Weight }}
                {{- end -}}
            </td>

            <!--<td>{{ .PublishDate }}</td>-->
            <td>
                <time>{{ .PublishDate.Format site.Params.dateFormatInPostList }}</time>
            </td>

            <td>
                <time>{{ .Lastmod.Format site.Params.dateFormatInPostList }}</time>
            </td>

            <td><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></td>

            <td>{{ .Description }}</td>
            <!-- <td>{{ .Summary }}</td> -->

            <td>
                {{ with .Params.categories }}
                {{- range $index, $categories := . -}}
                    {{- if ne $index 0 -}}
                        {{- $.Site.Params.categoryDelimiter | default "· " -}}
                    {{- end -}}
                {{ $href := print (absURL "categories/") (urlize .) }}
                <a href="{{ $href }}">{{ . }}</a>
                {{ end }}
                {{ end }}
            </td>

            <td>
                {{ with .Params.tags }}
                {{- range $index, $tags := . -}}
                    {{- if ne $index 0 -}}
                        {{- $.Site.Params.tagsDelimiter | default "· " -}}
                    {{- end -}}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a href="{{ $href }}">{{ . }}</a>
                {{ end }}
                {{ end }}
            </td>

            <td>
                {{ with .Params.series }}
                {{- range $index, $series := . -}}
                    {{- if ne $index 0 -}}
                        {{- $.Site.Params.seriesDelimiter | default "· " -}}
                    {{- end -}}
                {{ $href := print (absURL "series/") (urlize .) }}
                <a href="{{ $href }}">{{ . }}</a>
                {{ end }}
                {{ end }}
            </td>

        </tr>
        {{ end }}

    </tbody>
</table>
</div><!--end of .suppress-during-print -->
