<section class="post-single-meta-top">


    <p><em>{{ .Description }}</em></p>

{{/* PINNED / STICKY / FEATURED POST WEIGHTING ---------------------------- */}}
{{/*
    actual weight value IS irrelevant to isset, all that is checked is that it is set to something, anything

    do not generate a "default" weight, for instance "9999", in your blog archetype, as this will make EVERY post pick up this "pinned" status implemented below, which defeats the purpose of implementing it

    if anything, limit a blog YAML archetype to a guide commented out like so:
        # weight: # set this only for the post to pick up "Pinned" template status
*/}}

{{- if ne .Weight 99999 -}}
<p>
<strong>PINNED POST</strong> (pinned order: {{ .Page.Weight }})
</p>
{{- end -}}



{{/* WORD COUNT, READING TIME---------------------------------------------- */}}
{{/*
    why does the Hugo-calculated reading time differ from that calculated by Firefox Reader View?
    
    what about rune counts? what hidden runes inflate rune count?
*/}}

<p>
    {{ $.WordCount }}&nbsp;{{ i18n "word" $.WordCount }},&nbsp;estimated&nbsp;{{ $.ReadingTime }}&nbsp;{{ i18n "minute" $.ReadingTime }}&nbsp;<a href="/site-info/">reading time</a>
</p>
    
</section>