<section class="post-single-meta-botom">
{{/*
    Uncomment the generated date block only if you want to make that public for some reason, or are using it for testing if you implement any sort of posts archive grouping mechanism, for instance, grouped by year/month, because having both fields populated throws off at least the MemE theme
    
    Have separate "top" and "bottom" post metadata sections/files? Or the other stuff for the bottom is not actually metadata?

    Other stuff to add:
    - related post
    - sharing options
    - next/prev post nav
    - toc? toc as sidebar? show/hide inline toc like wikipedia (does this require JS?)?
*/}}


    <h3>Additional Post Metadata</h3>


    {{/* TIMESTAMPS ----------------------------------------------------------- */}}
    {{ if .Site.Params.displayPostTimestamps }}
    <table class="post-single-meta-key-value-table-borderless">

        {{ if .Site.Params.displayPostCreatedDate }}
        <tr>
            <td class="post-single-meta-key-col-borderless">
                Created
            </td>
            <td class="post-single-meta-val-col-borderless">
                <time>{{ .Date.Format site.Params.dateFormatInPost }}</time>
                {{/* / UNIX <time>{{ .Date.Unix }}</time> */}}
            </td>
        </tr>
        {{ end }}
        {{ if .Site.Params.displayPostPublishDate }}
        <tr>
            <td class="post-single-meta-key-col-borderless">
                Published
            </td>
            <td class="post-single-meta-val-col-borderless">
                <time>{{ .PublishDate.Format site.Params.dateFormatInPost }}</time>
                {{/* / UNIX <time>{{ .PublishDate.Unix }}</time> */}}
            </td>
        </tr>
        {{ end }}
        {{ if .Site.Params.displayPostLastmodDate }}
        <tr>
            <td class="post-single-meta-key-col-borderless">
                Updated
            </td>
            <td class="post-single-meta-val-col-borderless">
                <time>{{ .Lastmod.Format site.Params.dateFormatInPost }}</time>
                {{/* / UNIX <time>{{ .Lastmod.Unix }}</time> */}}
            </td>
        </tr>
        {{ end }}
        {{ if .Site.Params.displayPostExpiryDate }}        
        <tr>
            <td class="post-single-meta-key-col-borderless">
                Expires
            </td>
            <td class="post-single-meta-val-col-borderless">
                <time>{{ .ExpiryDate.Format site.Params.dateFormatInPost }}</time>
                {{/* / UNIX <time>{{ .ExpiryDate.Unix }}</time> */}}
            </td>
        </tr>
        {{ end }}
    </table>
    {{ end }}

    
{{/* GIT INFO ------------------------------------------------------------- */}}
    {{/*
    <p>
        Latest commit {{ .GitInfo.AbbreviatedHash }} / {{ .GitInfo.Subject }}
    </p>
    */}}


{{/* TAXONOMIES ----------------------------------------------------------- */}}
{{/*
    These are still showing up even if empty

    Moreover, the "en" language path segment has broken the taxa links below, will I really need per-language partials?!

    Note, as a default delimiter, the comma always seems to have one space ahead of it, dunno why, so opting to use a Unicode 00b7 interpunct now instead
*/}}


<table class="post-single-meta-key-value-table">
    {{ if isset .Params "categories" }}
    <tr>
        <td class="post-single-meta-key-col">
            Categories
        </td>
        <td class="post-single-meta-val-col">
            {{ with .Params.categories }}
            {{- range $index, $categories := . -}}
                {{- if ne $index 0 -}}
                    {{- $.Site.Params.categoryDelimiter | default "· " -}}
                {{- end -}}
            {{ $href := print (absURL "categories/") (urlize .) }}
            <a href="{{ $href }}">{{ . }}</a>
            {{ end }}
            {{ end }}
        </td>
    </tr>
    {{- end }}

    {{ if isset .Params "tags" }}
    <tr>
        <td class="post-single-meta-key-col">
            Tags
        </td>
        <td class="post-single-meta-val-col">
            {{ with .Params.tags }}
            {{- range $index, $tags := . -}}
                {{- if ne $index 0 -}}
                    {{- $.Site.Params.tagsDelimiter | default "· " -}}
                {{- end -}}
            {{ $href := print (absURL "tags/") (urlize .) }}
            <a href="{{ $href }}">{{ . }}</a>
            {{ end }}
            {{ end }}
        </td>
    </tr>
    {{- end }}

    {{ if isset .Params "series" }}
    <tr>
        <td class="post-single-meta-key-col">
            Series
        </td>
        <td class="post-single-meta-val-col">
            {{ with .Params.series }}
            {{- range $index, $series := . -}}
                {{- if ne $index 0 -}}
                    {{- $.Site.Params.seriesDelimiter | default "· " -}}
                {{- end -}}
            {{ $href := print (absURL "series/") (urlize .) }}
            <a href="{{ $href }}">{{ . }}</a>
            {{ end }}
            {{ end }}
        </td>
    </tr>
    {{- end }}

</table>


{{/* RELATED POSTS -------------------------------------------------------- */}}
{{/* https://gohugo.io/content-management/related/
    
    error

    at <first 5>: error calling first: both limit and seq must be provided

    
    */}}

{{/*
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>See Also</h3>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
*/}}

{{/* PREVIOUS/NEXT POST NAVIGATION ---------------------------------------- */}}
<h3>Post Navigation</h3>
{{with .PrevInSection}}
    &nbsp;&nbsp;
    <strong>Previous Post:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <br>
{{end}} 

{{with .NextInSection}}
    &nbsp;&nbsp;
    <strong>Next Post:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>
{{end}} 

<h3>Post Actions</h3>

{{/* SHARING / SAVING CRUDE ROUGH DRAFT ----------------------------------- */}}


    &nbsp;&nbsp;    
    Share on:&nbsp;
    
    <a target="_blank" href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ .Permalink }}" title="Share on Twitter">Twitter</a>
    
    &nbsp;·&nbsp;
    
    <a target="_blank" href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook">Facebook</a>

<p>
    <noscript>This copy button does not work while Javascript is disabled in your browser.</noscript>
    &nbsp;&nbsp;
    <button onclick="copyPostURLToClipboard()">Copy Link To This Post</button>
</p>



</section> <!--end #blog-post-meta-top --->