<article>
<!--add section name in title? -->
<h1>{{ .Title }}</h1>

<!--
<p>&nbsp;&nbsp;&nbsp;&nbsp;
    <em>{{ .Description }}</em></p>
-->

{{- partial "posts_common/post-single-en-meta-top.html" . -}}

{{ .Content }}

{{- partial "posts_common/post-single-en-meta-bottom.html" . -}}
</article>