{{/*
    add more params options here later, such as a site creation date setting,
    custom license statement, option to hide the powered by statement, et al, so
    users can do git update of theme and still keep their unique overrides

    RSS / Atom, sitemap, et al should be in header menu?
*/}}

<p class="print-only">
    {{ replace .Site.Copyright "{year}" now.Year }}
</p>

<p class="suppress-during-print footer">
    {{ replace .Site.Copyright "{year}" now.Year }}
        
    <br><a href="/site-info/">Site info</a><br>
    
    Site last built {{ now.Format site.Params.dateFormatInPost }}&nbsp;({{ now.Unix }} Unix time).
    
    {{ if .Site.Params.buildStatusBadgeIsPublic }}
        <br><img src="{{ .Site.Params.buildStatusBadgeURL }}">
    {{ end }}

</p>