<head>
{{ if .Site.Params.enableGoogleAnalytics }}
    {{ partial "head/google-analytics.html" . }}
{{ end}}

{{ if eq hugo.Environment "development" }}
    {{ .Scratch.Set "envpre" "[DEV] " }}
{{ else if eq hugo.Environment "staging" }}
    {{ .Scratch.Set "envpre" "[STA] " }}
{{ else }}
    {{ .Scratch.Set "envpre" "" }}
{{ end }}

{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title> {{ .Scratch.Get "envpre" }} {{ $title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{/*
    find out if it matters in what ORDER various <head> items are included

    make some of the partials optional in the config, such as 
        - google analytics
        - favicons
        - opengraph and twitter cards
        - ?
    
        Google site verification should be handled at the DNS level, not here
*/}}

<!--
    styling as Hugo Pipes SCSS assets
    https://gohugo.io/hugo-pipes/introduction/
    https://gohugo.io/hugo-pipes/scss-sass/
-->
{{ partial "head/style.html" . }}
</head>
