<div>
    <h1 id="header-site-title">{{ .Site.Title }}</h1>
</div>

<div id="header-nav">

    <nav>
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}</a>&nbsp;
        {{ end }}
    </nav>

    <nav>
        {{ range .Site.Menus.taxa }}
        <a class="nav-link" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}</a>&nbsp;
        {{ end }}
    </nav>


    {{ if .Site.Params.enableTestingMode }}
    <nav>
        {{ range .Site.Menus.test }}
        <a class="nav-link" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}</a>&nbsp;
        {{ end }}
    </nav>

    {{/*
        <p>
            base: {{ .Site.BaseURL }}
            <br>abs: {{ .Permalink | absURL}}
            <br>rel: {{ .Permalink | relURL}}
            <br>Perma: {{ $.Permalink }}
            <br>RelPerma: {{ $.RelPermalink }}
        </p>
    */}}

    {{ end }}

</div>