{{/*
<link rel="shortcut icon" href="green-star-16.ico">
*/}}

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

{{/* -------------------------------------------------------------------

    https://codetheweb.blog/html-icons/

    --------------------------------------------------------------------
        (temp) copied from the MemE theme head partial:

    <!-- Favicon, Icons, Web App -->
    {{- $favicon := "favicon.ico" -}}
    {{- $safariMaskIcon := "icons/safari-pinned-tab.svg" -}}
    {{- $safariMaskColor := .Site.Params.safariMaskColor -}}
    {{- $appleTouchIcon := "icons/apple-touch-icon.png" -}}
    {{- $msApplicationStartURL := partial "utils/relative-url.html" (dict "$" . "filename" "") -}}
    {{- $msApplicationTileColor := .Site.Params.msApplicationTileColor -}}
    {{- $msApplicationTileImage := partial "utils/relative-url.html" (dict "$" . "filename" "icons/mstile-150x150.png") -}}
    {{- $manifest := "manifest.json" -}}
    <link rel="shortcut icon" href="{{ $favicon | relURL }}" type="image/x-icon" />
    <link rel="mask-icon" href="{{ $safariMaskIcon | relURL }}" color="{{ $safariMaskColor }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouchIcon | relURL }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="{{ .Site.Title }}" />
    <meta name="msapplication-starturl" content="{{ $msApplicationStartURL }}" />
    <meta name="msapplication-TileColor" content="{{ $msApplicationTileColor }}" />
    <meta name="msapplication-TileImage" content="{{ $msApplicationTileImage }}" />
    <link rel="manifest" href="{{ $manifest | relURL }}" />
    
    
    
*/}}