{{ define "main" }}

<div style="margin-left: 6rem;">


<h3>Experiments</h3>

<hr>

<h4>Offer this cloud style for smaller screens</h4>

<!--
    https://discourse.gohugo.io/t/weighted-tag-cloud/3491/4
-->

{{ if not (eq (len $.Site.Taxonomies.categories) 0) }}
    <h3>Category Cloud</h3>
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.0 }}
    {{ $largestFontSize := 2.5 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.categories.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.categories.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}

    <div id="tag-cloud" style="padding: 5px 15px">
        {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
            {{ $currentCatCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentCatCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }}<sup>{{ $currentCatCount }}</sup></a>
            &nbsp;
        {{ end }}
    </div>
{{ end }}

{{ if not (eq (len $.Site.Taxonomies.series) 0) }}
    <h3>Series Cloud</h3>
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.0 }}
    {{ $largestFontSize := 2.5 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.series.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.series.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}

    <div id="tag-cloud" style="padding: 5px 15px">
        {{ range $name, $taxonomy := $.Site.Taxonomies.series }}
            {{ $currentSeriesCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentSeriesCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/series/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }}<sup>{{ $currentSeriesCount }}</sup></a>
            &nbsp;
        {{ end }}
    </div>
{{ end }}

{{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    <h3>Tag Cloud</h3>
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.0 }}
    {{ $largestFontSize := 2.5 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}

    <div id="tag-cloud" style="padding: 5px 15px">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
            {{ $currentTagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }}<sup>{{ $currentTagCount }}</sup></a>
            &nbsp;
        {{ end }}
    </div>
{{ end }}

<hr>

<h4>Offer this cloud style for large screens</h4>
detailed, sortable taxonomy "cloud" table
<table>
    <thead>
        <tr>
            <th>Taxonomy Type</th>
            <th>Term</th>
            <th>Post Count (by section?)</th>
            <th>Related Post Titles (links)</th>
            <th>Most recent post publish date</th>
            <th>Most recent post updated date</th>
        </tr>
    </thead>
</table>

<hr>

<h4>statistics</h4>
journal post count:
{{ $journalPosts := (where .Site.RegularPages "Section" "==" "journal") }}
{{ $journalPostCount := len $journalPosts }}
{{ $journalPostCount }}

<br>news post count:
{{ $newsPosts := (where .Site.RegularPages "Section" "==" "news") }}
{{ $newsPostCount := len $newsPosts }}
{{ $newsPostCount }}

<br>microblog post count:
{{ $microblogPosts := (where .Site.RegularPages "Section" "==" "microblog") }}
{{ $microblogPostCount := len $microblogPosts }}
{{ $microblogPostCount }}

</div>
{{ end }}