/* perfect the sizing later */

body {
    /* font-family: "Noto sans", sans-serif; */
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
 }

#container {
    width: 97%;
    margin: 0 auto;
    padding: 0;
}

article { margin: 0 auto;  padding: 0; }

#noscript-warning { 
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-weight:bold;
 }

#header-site-title {
    text-align: center; letter-spacing: 15px; font-weight: normal;
}

/*
a:link, a:visited, a:active  { text-decoration: none; }
a:hover   { text-decoration: underline; }
*/

#header-nav {
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    /* border-bottom: solid 2px; */
}

/* Firefox Reader view hides the metadata if in a <div>, but renders it if placed in a <section> instead */
.post-single-meta-top,
.post-single-meta-botom { 
    /* margin: 3rem 10rem 3rem 3rem;*/
    /* need different values for smaller viewports */
    padding: 1rem; border: dotted 1px; }

/* .macro-post-list-table { border-collapse: collapse; width: 100%; } */
/*
.dynamic-post-archive,
.macro-post-list-column { border: 1px solid darkcyan; padding: 0.25rem; border-collapse: collapse; }
*/

.transparent-sortable-text { 
    opacity: 0; /* is there any case where this does not work? */
    /* color: rgba(0, 0, 0, 0.5); */ /* this was actually dark grey, once I disabled the dark site theme */
 }

.post-single-meta-key-value-table {
    margin: 1rem;
    border-collapse: collapse;
    border: 1px dotted;
}

.post-single-meta-key-col { padding: 0.25rem; text-align: right; border: 1px dotted; }
.post-single-meta-val-col { padding: 0.25rem; border: 1px dotted; }

.post-single-meta-key-value-table-borderless { margin: 1rem; border: 0; font-family: monospace; }
.post-single-meta-key-col-borderless { padding: 0.2rem; text-align: right; border: 0; }
.post-single-meta-val-col-borderless { padding: 0.2rem; border: 0; }


.footer {
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/* screenreader styles
    https://www.w3schools.com/css/css3_mediaqueries.asp
*/
/* @media speech {} */

/* -------------------------------------------------------------------------- */
/* small screen styles */
