/* print styles
    https://www.sitepoint.com/css-printer-friendly-pages/
*/

@media screen {
    .print-only { display: none; }
}

@media print {
    /* .print-only { display: inline; } */
    .suppress-during-print { display: none; }

    body {
      background-color: #fff; color: #000;
      /* margin: 0; */
    }
}