/*
    https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    article { width: 100%; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    article { width: 100%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    article { width: 100%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    article { width: 80%; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    article { width: 60%; }
} 